<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaughtyFamily - @ViewBag.Title </title>
    @Styles.Render("~/Content/css", "~/CSS/myCss")
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/modernizr", "~/bundles/bootstrap", "~/Js/myJs")
</head>
<body>

    <!--webfont-->
    <link href='http://fonts.useso.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Niconne' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>

    <!--Sign-in-Modal-->
    <div class="modal fade" id="Sign-in-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Sign in</h4>
                </div>
                <div class="modal-body">

                    @*@using (Html.BeginForm("userSignIn", "Home",FormMethod.Post,new { }))
                        {
                            @Html.AntiForgeryToken();

                            @Html.ValidationSummary(); //配套ModelState.IsValid

                        }*@

                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">UserName:</label>
                            <input type="text" class="form-control" id="get-signin-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Password:</label>
                            <input type="password" class="form-control" id="get-signin-pwd">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="signin-submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!--Sign-in-Modal  end-->
    <!--Register-Modal-->
    <div class="modal fade" id="Register-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Register</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">UserName:</label>
                            <input type="text" class="form-control" id="get-register-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Password:</label>
                            <input type="password" class="form-control" id="get-register-pwd">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Re-Password:</label>
                            <input type="password" class="form-control" id="get-register-repwd">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="register-submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!--Register-Modal end-->
    <!-- header-section-starts -->
    <div class="header-banner">
        <div class="container">
            <div class="home">
                <a href="/Home/Index"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="header-top">
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="social-icons">
                        <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#Sign-in-Modal" data-whatever="sign-in">Sign-in</button>
                        <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#Register-Modal" data-whatever="register">Register</button>
                    </div>
                }
                else
                {
                    <div class="social-icons" id="currentUserDisplay">
                        <a href="/Home/userInfoDisplay?userName=@HttpContext.Current.User.Identity.Name" class="currentUserNameDisplay">
                            @HttpContext.Current.User.Identity.Name
                        </a>
                        <a href="/Home/logout" class="currentUserNameDisplay">注销</a>
                    </div>
                }
                <span class="menu"><img src="images/nav.png" alt="" /></span>
                <div class="top-menu">
                    <ul>
                        <nav class="cl-effect-13">
                            <li><a href="/About/about">About</a></li>
                            <li><a href="/Gallery/gallery">Gallery</a></li>
                            <li><a class="scroll" href="#news">News</a></li>
                            <li><a href="/Typography/typography">Typo</a></li>
                            <li><a href="/Contact/contact">Contact</a></li>
                        </nav>
                    </ul>
                </div>
                <!-- script for menu -->
                <script>

                    $("span.menu").click(function () {
                        $(".top-menu ul").slideToggle(300, function () {
                            // Animation complete.
                        });
                    });
                </script>
                <!-- //script for menu -->

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="banner-info text-center">
                <h1><a href="#">NaughtyFamily</a></h1>
            </div>

            @RenderBody()

</body>
</html>