<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaughtyFamily - @ViewBag.Title </title>
    @Styles.Render("~/Content/css", "~/CSS/myCss")
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval", "~/bundles/modernizr", "~/bundles/bootstrap", "~/Js/myJs")
</head>
<body>

    <!--webfont-->
    <link href='http://fonts.useso.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Niconne' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>

    <!--Sign-in-Modal-->
    <div class="modal fade" id="Sign-in-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Sign in</h4>
                </div>
                <div class="modal-body">

                    @*@using (Html.BeginForm("userSignIn", "Home",FormMethod.Post,new { }))
                        {
                            @Html.AntiForgeryToken();

                            @Html.ValidationSummary(); //配套ModelState.IsValid

                        }*@

                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">UserName:</label>
                            <input type="text" class="form-control" id="get-signin-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Password:</label>
                            <input type="password" class="form-control" id="get-signin-pwd"><span id="psw-error"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="signin-submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!--Sign-in-Modal  end-->
    <!--Register-Modal-->
    <div class="modal fade" id="Register-Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Register</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">UserName:</label>
                            <input type="text" class="form-control" id="get-register-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Password:</label>
                            <input type="password" class="form-control" id="get-register-pwd">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Re-Password:</label>
                            <input type="password" class="form-control" id="get-register-repwd">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="register-submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!--Register-Modal end-->
    <!-- header-section-starts -->
    <div class="header-banner">
        <div class="container">
            <div class="home">
                <a href="/Home/Index"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="header-top">
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="social-icons">
                        <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#Sign-in-Modal" data-whatever="sign-in">Sign-in</button>
                        <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#Register-Modal" data-whatever="register">Register</button>
                    </div>
                }
                else
                {
                    <div class="social-icons" id="currentUserDisplay">
                        <a href="/Home/userInfoDisplay?userName=@HttpContext.Current.User.Identity.Name" class="currentUserNameDisplay">
                            @HttpContext.Current.User.Identity.Name
                        </a>
                        <a href="/Home/logout" class="currentUserNameDisplay">注销</a>
                    </div>
                }
                <span class="menu"><img src="images/nav.png" alt="" /></span>
                <div class="top-menu">
                    <ul>
                        <nav class="cl-effect-13">
                            <li><a href="/About/about">About</a></li>
                            <li><a href="/Gallery/gallery">Gallery</a></li>
                            <li><a class="/Home/Index" href="#news">News</a></li>
                            <li><a href="/Community/community">Community</a></li>
                            <li><a href="/Contact/contact">Contact</a></li>
                        </nav>
                    </ul>
                </div>
                <!-- script for menu -->
                <script>

                    $("span.menu").click(function () {
                        $(".top-menu ul").slideToggle(300, function () {
                            // Animation complete.
                        });
                    });
                </script>
                <!-- //script for menu -->

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="banner-info text-center">
                <h1><a href="#">NaughtyFamily</a></h1>
            </div>

            @RenderBody()

            <!-- content-section-ends -->
            <div class="get-in-touch">
                <div class="container">
                    <div class="col-md-3 gin">
                        <h3>Get in Touch</h3>
                        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspeisse eget diam</p>
                        <div class="social-icons footer-icons">
                            <i class="facebook"></i>
                            <i class="twitter"></i>
                            <i class="googlepluse"></i>
                        </div>
                    </div>
                    <div class="col-md-3 address">
                        <h3>Address</h3>
                        <address>
                            <p>10-765 mg-Road,
                            <p>Washington, DC, United States,</p>
                            <p>ud-19832-6578.</p>
                            <p class="phone"><span>Phone</span> :+1 900 876 1234</p>
                            <span class="phone">E-mail : <a href="mail-to:example@mail.com">example@mail.com</a></span>
                        </address>
                    </div>
                    <div class="col-md-6 dal">
                        <h3>Drop us a line</h3>
                        <input type="text" class="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}">
                        <input type="text" class="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}">
                        <input type="text" class="text" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail';}">
                        <input type="text" class="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
                        <textarea onfocus="if(this.value == 'Your Message') this.value='';" onblur="if(this.value == '') this.value='Your Message';">Your Message</textarea>
                        <input type="submit" value="SEND">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- footer-section -->
            <div class="footer">
                <div class="container">
                    <div class="copyright text-center">
                        <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                    </div>
                </div>
            </div>
            <!-- footer-section -->
            <script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
            </script>
            <a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
            <!---->
</body>
</html>
